(
    tiles: [
        /*[0]*/ (name: "Grass", glyph: '.', fg: White, bg: Reset, solid: false, trigger: false, tag: "", sprite: Some((tileset: "town", region: "grass"))),
        /*[1]*/ (name: "Grass B", glyph: ',', fg: White, bg: Reset, solid: false, trigger: false, tag: "", sprite: Some((tileset: "town", region: "grass_b"))),
        /*[2]*/ (name: "Flowers", glyph: '*', fg: White, bg: Reset, solid: false, trigger: false, tag: "", sprite: Some((tileset: "town", region: "flowers"))),
        /*[3]*/ (name: "Tall grass", glyph: '"', fg: White, bg: Reset, solid: false, trigger: false, tag: "tallgrass", sprite: Some((tileset: "town", region: "sprout"))),
        /*[4]*/ (name: "Dirt path", glyph: '=', fg: White, bg: Reset, solid: false, trigger: false, tag: "", sprite: Some((tileset: "town", region: "dirt"))),
        /*[5]*/ (name: "Plaza", glyph: '+', fg: White, bg: Reset, solid: false, trigger: false, tag: "", sprite: Some((tileset: "town", region: "plaza"))),
        /*[6]*/ (name: "Tree", glyph: 'T', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "tree"))),
        /*[7]*/ (name: "Autumn tree", glyph: 'Y', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "tree_autumn"))),
        /*[8]*/ (name: "Bush", glyph: 'o', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "bush"))),
        /*[9]*/ (name: "Mushrooms", glyph: 'm', fg: White, bg: Reset, solid: false, trigger: false, tag: "", sprite: Some((tileset: "town", region: "mushrooms"))),
        /*[10]*/ (name: "Roof TL", glyph: '/', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "roof_tl"))),
        /*[11]*/ (name: "Roof T", glyph: '^', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "roof_t"))),
        /*[12]*/ (name: "Roof TR", glyph: '7', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "roof_tr"))),
        /*[13]*/ (name: "Roof BL", glyph: '[', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "roof_bl"))),
        /*[14]*/ (name: "Roof B", glyph: '_', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "roof_b"))),
        /*[15]*/ (name: "Roof BR", glyph: ']', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "roof_br"))),
        /*[16]*/ (name: "Wall", glyph: '#', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "wall"))),
        /*[17]*/ (name: "Window", glyph: 'w', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "window"))),
        /*[18]*/ (name: "Door", glyph: 'D', fg: White, bg: Reset, solid: false, trigger: false, tag: "door", sprite: Some((tileset: "town", region: "door"))),
        /*[19]*/ (name: "Fence", glyph: '-', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "fence"))),
        /*[20]*/ (name: "Fence L", glyph: '<', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "fence_l"))),
        /*[21]*/ (name: "Fence R", glyph: '>', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "fence_r"))),
        /*[22]*/ (name: "Sign", glyph: 's', fg: White, bg: Reset, solid: true, trigger: false, tag: "sign", sprite: Some((tileset: "town", region: "sign"))),
        /*[23]*/ (name: "Well", glyph: 'O', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "well"))),
        /*[24]*/ (name: "Barrel", glyph: 'b', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "town", region: "barrel"))),
        /*[25]*/ (name: "Stone floor", glyph: ':', fg: White, bg: Reset, solid: false, trigger: false, tag: "", sprite: Some((tileset: "town", region: "floor_stone"))),
        /*[26]*/ (name: "Brick wall", glyph: 'B', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "dungeon", region: "brick"))),
        /*[27]*/ (name: "Table", glyph: 't', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "dungeon", region: "table"))),
        /*[28]*/ (name: "Shelf", glyph: 'H', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "dungeon", region: "shelf"))),
        /*[29]*/ (name: "Chest", glyph: 'c', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "dungeon", region: "chest"))),
        /*[30]*/ (name: "Torch", glyph: '!', fg: White, bg: Reset, solid: true, trigger: false, tag: "", sprite: Some((tileset: "dungeon", region: "torch"))),
    ],
    selected: 0,
    collapsed: [],
)
